{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="success {{category}}" role="success">
        <h3>{{message}}</h3>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<head>
  <style>
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-transform: uppercase;
    text-align:justify;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    /* text-align:center; */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  </style>
  </head>



    <!-- <div class="form">
        <form action= "{{ url_for('auth.predict') }}" method="POST">
            <div class="tbody">
                <table align="center" border="solid" >
                   
                    <tr >
                    <th rowspan="1" width="50%" style="text-align:center">PROPERTY</th>
                    <th rowspan="1" width="50%" style="text-align:center">VALUE</th>
                    </tr>
                
                    <tr>
                    <td style="text-align:center" >Total bil</td>
                    <td><input class="input" type="number" name="totalBil" step="0.01" min=0 max=75></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">Direct bil</td>
                    <td><input class="input" type="number" name="directBil" step="0.01" min=0 max=19.7></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">Albumin</td>
                    <td><input class="input" type="number" name="albumin" step="0.01" min=0 max=2000></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">A/G ratio</td>
                    <td><input class="input"  type="number" name="a/g" step="0.01" min=0 max=4929></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">SGPT</td>
                    <td><input class="input" type="number" name="sgpt" step="0.01" min=0 max=9.6></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">SGOT</td>
                    <td><input class="input" type="number" name="sgot" step="0.01" min=0 max=5.5></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">Alkphos</td>
                    <td><input class="input" type="number" name="alkphos" step="0.01" min=0 max=2.8></td>
                    </tr>
                    <tr>
                    <td style="text-align:center">Total Protein</td>
                    <td><input class="input" type="number" name="totalPro" step="0.01" min=0 max=2110></td>
                    </tr>
                   
                    </table>
            </div> -->

            <div class="container">
              <form action= "{{ url_for('auth.predict') }}" method="POST">
                  <!-- <div class="tbody"> -->
                      <!-- <table align="center" border="solid" > -->
                         
                          <!-- <th rowspan="1" width="50%" style="text-align:center">PROPERTY</th>
                          <th rowspan="1" width="50%" style="text-align:center">VALUE</th> -->
                          <div class="row">
                            <div class="col-50">
                             <strong style="font-size: x-large;"><label for="headingprop"><u>PROPERTY</u></label></strong> 
                            </div>
                            <div class="col-50">
                              <strong style="font-size: x-large;"><label for="headingval"><u>VALUE</u></label></strong> 
                          
                            </div>
                          </div>

                          

                          <div class="row">
                            <div class="col-50">
                              <strong><label for="Totalbil">Total bil</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="totalBil" value="45" step="0.01" min=0 max=75></td>
                          
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="Directbil">Direct bil</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="directBil" value="10" step="0.01" min=0 max=19.7>
                          
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="Albumin">Albumin</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="albumin" value="1500" step="0.01" min=0 max=2000>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="a/g">A/G ratio</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input"  type="number" name="a/g" value="2357" step="0.01" min=0 max=4929>
                            </div>
                          </div>
                          
                          
                  
                          
          
                        
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="sgpt">sgpt</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="sgpt" value="5.6" step="0.01" min=0 max=9.6>
                            </div>
                          </div>
                          
                        
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="SGOT">SGOT</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="sgot" value="2.5" step="0.01" min=0 max=5.5>
                            </div>
                          </div>
                          
                    
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="Alkphos">Alkphos</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="alkphos" value="1.7" step="0.01" min=0 max=2.8>
                            </div>
                          </div>
                          

                          
                          <div class="row">
                            <div class="col-50">
                              <strong><label for="">Total Protein</label></strong>
                            </div>
                            <div class="col-50">
                              <input class="input" type="number" name="totalPro" value="1687" step="0.01" min=0 max=2110>
                            </div>
                          </div>
                          
                          <div class="row">  
                            <select name="gender" size="1" default="male">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                                                 
                            </select> 
                          </div>              
                          
                  <!-- </div> -->
                  <br/>
            <div class="row">
              <select name="model" size="1" default="rf">
                <option value="model_rf">Random Forest</option>
                <option value="model_df">Decision Tree</option>
                <option value="model_evc">Voting class</option>
                <option value="model_logreg">Logistic reg</option>
                <option value="model_nb"> Naive Bayes</option>
                <option value="model_vc">Voting class2</option>
                <option value="model_svc">SVC</option>
          
              </select> 
            </div>
            <br/>
            
            <button class="button" type="submit">Submit</button>

            <details>
              <summary>max possible values.</summary>
              <p>totalbil 75 </p>
              <p>directbil 19.7 </p>
              <p>Alibumin 2000 </p>
              <p>a/g 4929</p>
              <p>sgpt 9.6</p>
              <p>sgot 5.5 </p>
              <p>Alkphos 2.8</p>
              <p>totalPro 2110</p>
            </details>

        </form>

    </div>
{% endblock %}